<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Esta es una lista de los tragos que pueden preparase con {{selectedglass}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let cocktail of dataFromParent">
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img [src]="cocktail.strDrinkThumb" alt="Drink Image">
          </ion-thumbnail>
          <ion-label>
            <h2 id="auxvaso" >{{ cocktail.strDrink }}</h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-button (click)="redirecttohome()">Volver</ion-button>